
::-webkit-scrollbar{
    display: none;
}
header{
    width:100%;
    background-color: white;
    z-index: 1000;
    position: fixed;
    top:0px;
}

/* nav-start */
.nav-row-1{
    
    display: flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
}

.nav-row-1-col-1{
    display: flex;
    margin-left: 80px;   
}

.verticle-line{
    border-left: 2px solid lightgrey;
    height: 30px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
}
.nav-row-1-col-2{
    display: flex;
    align-items: center;
}
.nav-row-1-col-2>ul{
    display: flex;
    list-style-type: none;
}
.nav-row-1-col-2>ul>li{
    margin-right: 55px;
}
.nav-row-1-col-2>ul>li>a{
    text-decoration: none;
    color:#4f4f4f;
}
/* nav-end */

/* hero-start */


.my-hero{
    width:80vw;
    margin:auto;
    margin-top: 200px;
    /* padding:20px; */

    /* background-color: yellow; */
    display: flex;
}
.hero-col-1{
    display: flex;
    justify-content: space-between;
    width:70%;
    padding:10px;
    /* margin:10px; */
    /* margin-top: 50px; */

    height:500px;
    margin-bottom: 10px;
    flex-direction: column;
}
.hero-col-2{
    display: flex !important;
    width:35% !important;
    height:500px !important; 
    /* margin:10px; */
    margin-bottom: 10px ;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px lightgray;
    justify-content: space-around;
    align-items: center !important;
    flex-direction: column !important;
}
#lakhs{
    display: flex;
    border:1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 30px lightgray;
    padding: 10px;
    width: fit-content;
}
#lakhs>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#lakhs p{
    /* line-height: 5px; */
}
#lakhs img{
    margin-right: 10px;
    width: 40px;
}
.hero-col-1-div-1{
    display: flex;
    /* height:70%; */
    flex-direction: column;
    /* justify-content: space-around; */
}
.hero-col-1-div-1>h6{
    color:#595959;
    
}
.hero-col-1-div-1 p{
    color:#595959;
    
}
.register-btn{
    width:90%;
    background-color: #1583f9;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,#2f80ed,#992fed);
}
.input{
    width:90%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid lightgray;
    background-color: #fafafa;
}
.input>input{
    border:none;
    background-color: transparent;
}

.hero-col-1-div-2{
    border-radius: 20px;
    padding:10px;
    box-shadow: 0px 0px 20px lightgray;
    width:fit-content;
    border: 1px solid lightgray;
}
#full-stack-stroke{
    color:#2f80ed;
    -webkit-text-stroke: 1px black;
    /* font-style: italic; */
}

/* hero-end */

/* courses-start */
.course-section{
    width: 100%;
    margin-top:50px;
    background-color: #ecf8ff;
}


.courses{
    width:80vw;
    /* height:1000px; */
    display: flex;
    flex-direction: column;
    margin:auto;
}
.courses-div-1{
    display: flex;
    padding:70px;   
    background-color:transparent ;
    justify-content: center;
    text-align: center;
}
#learn-full-stack{
    color: #992fed;
    font-size: 22px;
}

.courses-div-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    /* width:70vw !important; */
}
.BI-program{
    width:460px;
    display: flex;
    border-radius: 10px;
    /* height:600px; */
    /* margin-left: 40px; */
    padding: 25px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
}
.BI-program:hover{
    /* font-size: 25px; */
    box-shadow: 0px 0px 30px violet;
    line-height: 30px;
    font-size: 20px;
}
.details{
    width: 100%;
    padding:15px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
.beginner-div-1,.intermediate-div-1{
    text-align: center;
}
.beginner-div-1>p,.intermediate-div-1>p{
    font-size: 13px;
    color:gray;
}

.jobG{
    display: flex ;
    justify-content: space-around !important;
    padding:10px;
}
.jobB{
    background-color: #e0f3ff;
    border-radius: 20px;
    color:#1d78b0;
    font-size: 13px;
}
.jobI{
    background-color: #ffeed8;
    border-radius: 20px;
    font-size: 13px;
    color:#965400;

}
#inter-box-color{
    border: 1px solid #e2e2e2;
}




/* courses-end */

/*  company-details-start */

.company-details{
    width:85vw;
    /* height:800px; */
    margin-top: 80px !important;
    /* background-color: greenyellow; */
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin:auto;
}
.placement-btn{
    width:100% !important;
   display: flex !important;
   margin-top: 20px;
   margin-bottom: 40px;
   justify-content: center !important;
   align-items: center !important;

}
.partner-div-1{
    display: flex;
    /* margin-top: 60px; */
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner-container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}


/*  company-details-end */

/* testimonila-starts-here */

.testimonial{
    width:85vw;
    margin:auto;
    margin-top: 80px;
    margin-bottom:120px;
}
.wall-of-love{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .students{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
} */

.social-icon{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: ;
}
.ms-div1{
    display: flex;
    justify-content: space-between;
}
.virat-kohli{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.students{
    display: flex;
    flex-wrap: wrap;
}
.main-student{
    display: flex;
    flex-direction: column;
    width:400px;
    margin:10px;
    /* height: fit-content; */
    border: 3px solid lightgray;
    border-radius: 15px;
    box-shadow: 0px 0px 10px lightgrey;
    padding:10px;
    justify-content: space-between;

}



/* testimonila-ends-here */


@media screen and (max-width:900px){
    header{
        position: static;
    }
    .nav-row-1{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
    }
    .nav-row-1-col-1{
        width:90vw;
        margin-left: 0px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .verticle-line{
        display: none;
    }
    .nav-row-1-col-2{
        display: flex !important;
        flex-direction: column;
    }
    .nav-row-1-col-2>ul{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
    }
    .my-hero{
        display: flex !important;
        margin-top: 50px !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .hero-col-1{
        width: 90vw;
    }
    .hero-col-1-div-2{
        d
    }
    .hero-col-2{
        width: 80vw !important;
        margin-top: 220px;
    }
    #lakhs{
        width:50vw;
        display: flex !important;
        margin-bottom: 20px !important;
        flex-direction: column !important;
        /* flex-wrap: wrap !important; */
    }
    .courses-div-2{
        display: flex !important;
        flex-direction: column !important;
    }
    .BI-program{
        margin-top: 10px;
        width: 80vw !important;
        font-size: 15px;
    }
    .BI-program:hover{
        font-size:15px;
    }
    .courses-div-1{
        padding:0px;
    }
    .partner-container{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
}